h1{
    text-align: center;
    font-size: 45px;
    color: white;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.768);
    background-repeat: no-repeat;
    border-radius: 30px;
    
  
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    filter: blur(10px);
  }

  body{
    backdrop-filter: blur(10px);
    background: rgb(0,0,0);
    background: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(84,83,83,1) 69%, rgba(115,115,115,1) 100%);
    background-repeat: no-repeat;
    background-size: 1600px 900px;
  }
  img {
    border-radius: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p{
    text-align: center;
    font: bold;
    font-size: 20px;
    color: white;
  }
  footer{
    text-align: center;
    font: bolder;
    color: white;
    font-size: 25px;
  }