*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('https://cdn.wallpaperhub.app/cloudcache/b/d/7/6/4/b/bd764bb25d49a05105060185774ba14cd2c846f7.jpg');
    background-size: cover;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display :block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 20px;
}
form h1{
    margin-bottom: 30px;
}
